*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{
background:linear-gradient(
135deg,
#667eea,
#764ba2
);
min-height:100vh;
padding:30px;
}

.container{
max-width:900px;
margin:auto;
background:white;
padding:30px;
border-radius:20px;
box-shadow:0 10px 30px rgba(0,0,0,.2);
}

h1{
text-align:center;
margin-bottom:20px;
}

.quote-box{
padding:20px;
background:#f4f4f4;
border-radius:15px;
margin-bottom:20px;
}

.quote-box h2{
margin-bottom:10px;
}

button{
padding:12px 20px;
border:none;
border-radius:10px;
background:#667eea;
color:white;
cursor:pointer;
margin-bottom:20px;
}

.history{
margin-top:20px;
}

.item{
background:#f9f9f9;
padding:15px;
border-radius:10px;
margin-bottom:10px;
}