<!DOCTYPE html>
<html>
<head>
<title>Quote Generator</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h1>✨ Quote Generator</h1>

<div class="quote-box">

<h2>"{{ quote }}"</h2>

<p>- {{ author }}</p>

</div>

<a href="/">
<button>Generate New Quote</button>
</a>

<h2>Quote History</h2>

<div class="history">

{% for q in history %}

<div class="item">

<p>{{ q[0] }}</p>

<small>- {{ q[1] }}</small>

</div>

{% endfor %}

</div>

</div>

</body>
</html>